
<div id="header">
	<div class="header-top">
		<div class="container">
			<div class="pull-left auto-width-left">
				<ul class="top-menu menu-beta l-inline">
					<li><a href=""><i class="fa fa-home"></i> Ktx DHQG Khu A - KH6 - Linh Trung - Thủ Đức - TP HCM</a></li>
					<li><a href=""><i class="fa fa-phone"></i> 033 296 7751</a></li>
				</ul>
			</div>
			<div class="pull-right auto-width-right">
				<ul class="top-details menu-beta l-inline">
					<% if user_signed_in?%>
						<li><a href="/khachhang/index"><i class="fa fa-user"></i><%= current_user.email%></a></li>
						<li>
						<li><%= link_to "Đăng xuất", "/users/sign_out", method: :get %>
						<li>
					<%else%>
						<li><a href="/users/sign_in">Đăng nhập</a></li>
					<%end%>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div> <!-- .container -->
	</div> <!-- .header-top -->
	<div class="header-body">
		<div class="container beta-relative">
			<div class="pull-left">
				<a href="/home/index" id="logo">
					<%= image_tag "banner/logo.png", :width => "150px", :height => "80px" %>
				</a>
			</div>
			<div class="pull-right beta-components space-left ov">
				<div class="space10">&nbsp;</div>
				<div class="beta-comp">
					<form role="search" method="get" id="searchform" action="/">
						<input type="text" value="" name="s" id="s" placeholder="Nhập từ khóa..." />
						<button class="fa fa-search" type="submit" id="searchsubmit"></button>
					</form>
				</div>

				<div class="beta-comp">
					<div class="cart">
					<%if session[:cart].nil?%>
						<div class="beta-select"><i class="fa fa-shopping-cart"></i> Giỏ hàng (Trống) <i class="fa fa-chevron-down"></i></div>
					<%elsif !session[:cart].nil? && session[:cart].empty?%>
						<div class="beta-select"><i class="fa fa-shopping-cart"></i> Giỏ hàng (Trống) <i class="fa fa-chevron-down"></i></div>
					<%elsif !session[:cart].nil? && !session[:cart].empty?%>
						<div class="beta-select"><i class="fa fa-shopping-cart"></i> Giỏ hàng <%=session[:cart].length%> <i class="fa fa-chevron-down"></i></div>
					<%end%>
						<div class="beta-dropdown cart-body">
						<%session[:cart].each do |sp|%>
							<div class="cart-item">
								<div class="media">
									<a class="pull-left" href="javascript:void(0)">
									<%= image_tag "sach/#{sp['hinhanh']}"%>
									</a>
									<div class="media-body">
										<span class="cart-item-title"><%=sp['tensach']%></span>
										<span class="cart-item-amount"><%=sp['soluong'].to_i%>*<span><%=sp['giaban'].to_i%></span></span>
									</div>
								</div>
							</div>
						<%end%>
							<div class="cart-caption">
								<div class="cart-total text-right">Tổng tiền: <span class="cart-total-value"><%=session[:tongtien]%> VNĐ</span></div>
								<div class="clearfix"></div>

								<div class="center">
									<div class="space10">&nbsp;</div>
									<a href="/checkout/index" class="beta-btn primary text-center">Đặt hàng <i class="fa fa-chevron-right"></i></a>
								</div>
							</div>
						</div>
					</div> <!-- .cart -->
				</div>
			</div>
			<div class="clearfix"></div>
		</div> <!-- .container -->
	</div> <!-- .header-body -->
	<div class="header-bottom" style="background-color: #0277b8;">
		<div class="container">
			<a class="visible-xs beta-menu-toggle pull-right" href="javascript:void(0)"><span class='beta-menu-toggle-text'>Menu</span> <i class="fa fa-bars"></i></a>
			<div class="visible-xs clearfix"></div>
			<nav class="main-menu">
				<ul class="l-inline ov">
					<li><a href="/home/index">Trang chủ</a></li>
					<li><a href="#">Thể loại</a>
						<ul class="sub-menu">
							<%@theloai.each do |t|%>
								<li><a href="/theloai/index/<%=t.id%>"><%=t.tentl%></a></li>
							<%end%>
						</ul>
					</li>
					<li><a href="javascript:void(0)">Giới thiệu</a></li>
					<li><a href="javascript:void(0)">Liên hệ</a></li>
				</ul>
				<div class="clearfix"></div>
			</nav>
		</div> <!-- .container -->
	</div> <!-- .header-bottom -->
</div> <!-- #header -->